body{
    background-color: rgb(26, 26, 26);
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    padding: 40px;
    overflow: auto;
}
h1{
    font-weight: 400;
}
p{
    font-size: 14px;
}
p.brand{
    color: #6990ff;
}
p.cluster{
    color: #ff83b6;
    margin-left: 40px;
}
p.card{
    color: #4eff94;
    margin-left: 60px;
}